<header>
   
  <nav>
    <div class="logo"></div>
    <div class="nav-element" id="download">
      <a href="#download-book" class="download">Pobierz książkę</a>
    </div>
    <div class="bolt" id="download-bolt"></div>
    <div class="red"></div>
    <div class="nav-element" id="about"><a href="#author">O autorze</a></div>
    <div class="bolt" id="about-bolt"></div>
    <div class="social-logo-nav"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/instagram-logo.html %}</a></div>
    <div class="social-logo-nav"><a href="https://www.instagram.com/blazej_wilczynski" target="_blank">{% include icons/facebook-logo.html %}</a></div>
    
  



</header>
