/* Notes */

/*

Nazwa	Typ urządzenia	Szerokość (min-width)	Przykład media query

xs	Telefony małe	0px – 575px	@media (max-width: 575px)
sm	Telefony duże / małe tablety	576px	@media (min-width: 576px)
md	Tablety	768px	@media (min-width: 768px)
lg	Laptopy / małe desktopy	992px	@media (min-width: 992px)
xl	Duże monitory	1200px	@media (min-width: 1200px)
xxl	Bardzo duże ekrany	1400px	@media (min-width: 1400px)

*/

/* Global styles */

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --background-primary-light: #F6F8FA;
  --text-primary-light: #2E2E39;
  --background-primary-dark: #0D1117;
  --text-primary-dark: #C9D1D9;
  --accent-color-light: #ED7495;
  --accent-color-dark: #FF4971;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

